@font-face {
    font-family: "Right Grotesk Mono";
    src: url("/public/fonts/PPRightGroteskMono-Light.woff");
}

@font-face {
    font-family: "Neue Montreal Mono";
    src: url("/public/fonts/PPNeueMontrealMono-Light.woff");
}

@font-face {
    font-family: "Pixelated Elegance";
    src: url("/public/fonts/PixelatedElegance.ttf");
}

@font-face {
    font-family: "Dogica Pixel";
    src: url("/public/fonts/dogicapixel.ttf");
}

@font-face {
  font-family: "Matrix Mono";
  src: url("/public/fonts/Matrix_Mono.ttf");
}

@font-face {
  font-family: "Illusion Book";
  src: url("/public/fonts/IllusionBook-Regular.woff");
}

@font-face {
  font-family: "Cloude Regular";
  src: url("/public/fonts/Cloude_Regular_1.02.ttf");
}

@font-face{
  font-family: "Groutpix Slab";
  src: url("/public/fonts/GroutpixFlowSlabSerif.ttf");
}

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("public/images/parede.png");
    background-size: cover;
}

body{
    overflow: hidden;
}

canvas{
    z-index: 2;
    position: absolute;
    pointer-events: none;
}

#loading-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-screen p{
    font-size: 5rem;
    font-family: "Pixelated Elegance", sans-serif;
    color: white;
}


#exit_note{
    image-rendering: pixelated;
    position: absolute;
    left: 12%;
    top: 2%;
    width: 125px;
    height: 125px;
    cursor: url("/public/images/rato_select.png"), auto;
}

#desktop{
    z-index: 1;
    display: none;
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -60%);
    width: 900px;
    height: 470px;
    background-color: #55a5d0;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;

    cursor: url("/public/images/rato_normal.png"), auto;
}

#desktop .desktop_navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: #D9D9D9;
    padding-left: 4rem;
    justify-content: flex-start;
    gap: 0.75rem;
    margin-top: 0.16rem;
}

#desktop .desktop_navbar p{
  font-family: "Neue Montreal Mono", sans-serif;
  margin-top: 1.2rem;
  font-size: 1rem;
}

#desktop .desktop_navbar img{
    width: 1.25rem;
    height: auto;
}

#desktop .desktop_mainwindow{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 20rem;
    background-color: white;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
}

#desktop .desktop_mainwindow .mainwindow_title{
    background-color: #bfbfbf;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#desktop .desktop_mainwindow .mainwindow_title p{
    font-family: "Neue Montreal Mono", sans-serif;
    font-size: 0.8rem;
}


#desktop .desktop_mainwindow .mainwindow_iconarea{
    background-color: #2858AD;
    margin: 0.75rem;
    height: 275px;
    position: relative;
}



#desktop .desktop_mainwindow .mainwindow_iconarea .green_folder,
#desktop .desktop_mainwindow .mainwindow_iconarea .pink_folder {
  position: absolute;
  width: 50px; 
  height: 50px;
  z-index: 2;
}

#desktop .desktop_mainwindow .mainwindow_iconarea div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 4rem;
    margin: 0;
    z-index: 3;
}


#desktop .desktop_mainwindow .mainwindow_iconarea img{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    width: 3.5rem;
    height: auto;
}

#desktop .desktop_mainwindow .mainwindow_iconarea div p{
    font-family: "Neue Montreal Mono", sans-serif;
    color: white;
    background-color: black;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 0.6rem;
}

#desktop .desktop_mainwindow .mainwindow_iconarea .norbot_app{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#desktop .desktop_mainwindow .mainwindow_iconarea .cheese_notes_app{
    position: relative;
    top: -25%;
    left: 85%;
}

#desktop .desktop_mainwindow .mainwindow_iconarea .tinker_wiki_app{
    position: relative;
    top: -25%;
    left: 10%;
}

#desktop .desktop_mainwindow .mainwindow_iconarea .cheese_book_app{
    position: relative;
    top: -50%;
    left: 80%;
}

#desktop .desktop_mainwindow .mainwindow_iconarea .norbot_app:hover{
    cursor: pointer;
    cursor: url("/public/images/rato_select.png"), auto;
}

#desktop .desktop_mainwindow .mainwindow_iconarea .cheese_notes_app:hover{
    cursor: pointer;
    cursor: url("/public/images/rato_select.png"), auto;
}

#desktop .desktop_mainwindow .mainwindow_iconarea .tinker_wiki_app:hover{
    cursor: pointer;
    cursor: url("/public/images/rato_select.png"), auto;
}

#desktop .desktop_mainwindow .mainwindow_iconarea .cheese_book_app:hover{
    cursor: pointer;
    cursor: url("/public/images/rato_select.png"), auto;
}

#desktop .mainwindow_cheesenotes {
    display: none;
    background-color: #292929;
    margin: 0.75rem;
    height: 100%;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 0.25fr 3fr; 
}

#desktop  .mainwindow_tinkerwiki{
    display: none;
    background-color: white;
    margin: 0.75rem;
    height: 100%;
}

#desktop  .mainwindow_crackerbook{
    display: none;
    background-color: blue;
    margin: 0.75rem;
    height: 100%;
}

/* NAV CONTAINER */
#desktop .mainwindow_cheesenotes .cheesenotes_nav {
    display: grid;
    background-color: #ffff71 ;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    grid-template-columns: 1.5fr 3fr; 
    align-items: center;
}

/* LEAVE BUTTON SECTION */
#desktop .mainwindow_cheesenotes .cheesenotes_leavenav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* TITLE SECTION */
#desktop .mainwindow_cheesenotes .cheesenotes_titlenav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TITLE TEXT */
#desktop .mainwindow_cheesenotes .cheesenotes_titlenav p {
    font-family: "Neue Montreal Mono", sans-serif;
    font-size: 1rem;
    color: black;
}

/* LEAVE BUTTON */
#desktop .mainwindow_cheesenotes .cheesenotes_leave {
    width: 2rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

#desktop .mainwindow_cheesenotes .cheesenotes_leave {
  cursor: url("/public/images/rato_select.png"), auto;
}

#desktop .mainwindow_cheesenotes .cheesenotes_message{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#desktop .mainwindow_cheesenotes .cheesenotes_messagepreview{
    width: 100%;
    height: 220px;
    overflow-y: scroll;
}


#desktop .mainwindow_cheesenotes .cheesenotes_messagepreview div{
border-bottom: 1px solid #ffff71;
display: flex;
justify-content: flex-start;
padding-left: 0.5rem;
align-items: center;
height: 3rem;
cursor: pointer;
}

#wererabbit_minigame{
    border: none;
    padding: 1rem .5rem;
    margin-bottom: 1rem;
    font-family: "Neue Montreal Mono", sans-serif;
    cursor: url("/public/images/rato_select.png"), auto;
    background-color: #ffff71;
}

#desktop .mainwindow_cheesenotes .cheesenotes_messagepreview div:hover{
    background-color: #ffff71;
    cursor: url("/public/images/rato_select.png"), auto;
}

#desktop .mainwindow_cheesenotes .cheesenotes_messagepreview div:hover p{
    color: #292929;
}

#desktop .mainwindow_cheesenotes .cheesenotes_messagepreview div p{
    color: #ffff71;
    margin: 0px;
    font-family: "Neue Montreal Mono", sans-serif;
    font-size: 0.70rem;

    
 }

 #desktop .mainwindow_cheesenotes .cheesenotes_message{
    border-left: 1px solid #ffff71;
  }

#desktop .mainwindow_cheesenotes .cheesenotes_message div{
  height: 220px;
  padding-right: 1rem;
  overflow-y: auto;
  padding-left: 1rem;
}


#desktop .mainwindow_cheesenotes .cheesenotes_message div h1{
    font-family: "Neue Montreal Mono", sans-serif;
    color: #ffff71;
  }

  #desktop .mainwindow_cheesenotes .cheesenotes_message div p{
    font-family: "Neue Montreal Mono", sans-serif;
    color: #ffff71;
    font-size: 0.75rem;
    line-height: 1.1rem;
    margin-bottom: 1rem;
  }

#desktop .mainwindow_cheesenotes .cheesenotes_message p{
    margin: 0;
  }
  
#desktop  .mainwindow_tinkerwiki .tinkerwiki_nav{
    background-color: #86f060;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* LEAVE BUTTON SECTION */
#desktop .mainwindow_tinkerwiki .tinkerwiki_leavenav {
    margin-right: 30%;
    margin-top: 0.25rem;
}

#desktop .mainwindow_tinkerwiki .tinkerwiki_leavenav:hover {
    cursor: pointer;
    cursor: url("/public/images/rato_select.png"), auto;
}

/* LEAVE BUTTON */
#desktop .mainwindow_tinkerwiki .tinkerwiki_leave {
    width: 3rem ;
    height: auto;
}

#desktop  .mainwindow_tinkerwiki .tinkerwiki_nav p{
    font-family: "Matrix Mono", sans-serif;
    font-size: 1.5rem;
}

#tinkerwiki_inventory{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-y: scroll;
}

#desktop .mainwindow_tinkerwiki .inventory_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#desktop .mainwindow_tinkerwiki .inventory_item:hover{
  cursor: pointer;
  cursor: url("/public/images/rato_select.png"), auto;
}

#desktop .mainwindow_tinkerwiki .inventory_item img{
    width: 4rem;
    height: auto;
    transform-origin: center;
}

#desktop .mainwindow_tinkerwiki .inventory_item h1{
    font-size: 0.85rem;
    font-family: "Matrix Mono", sans-serif;
    line-height: 1.25rem;

}

#inventory_trousers{
    grid-column: 1 / span 1;
}

#inventory_rocket{
    grid-column: 2 / span 1;
}

/* Hide the specific item section by default */
#tinkerwiki_specificitem {
    display: none;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-column: 1 / span 3;
  }
  
  .invention_page {
    display: none; 
    width: 100%;
    max-width: 800px;
    background: white;
    gap: -0.5rem;
    overflow: hidden; 

    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1.5fr;
}


  .invention_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow-y: hidden;
    position: sticky;  
    height: 100%;
    padding-bottom: 2rem;
  }
  
   .invention_left button {
    background: none;
    border: none;
    outline: 1px solid #86f060;
    box-shadow: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    cursor: url("/public/images/rato_select.png"), auto;
    font-family: "Matrix Mono", sans-serif;
    display: flex;
    align-items: center;
  }

  .invention_left img {
    width: 8rem;
    height: auto;
  }
  

  .invention_left h1 {
    font-family: "Matrix Mono", sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    margin-top: -0.1rem;
  }
  
  .invention_right {
    font-family: "Dogica Pixel", sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
    height: 100%;
  }

  .invention_right p{
    line-height: 1.5rem;
    font-size: .75rem;
  }
  
  .mainwindow_cheesebook{
    background-color: #fafafa;
    margin: 0.75rem;
    height: 275px;
    position: relative;
    display: none;
  }

  .cheesebook_nav{
    width: 100%;
    height: 4rem;
    background-color: #e3ab12;
    display: flex;
    align-items: center;
  }

  .cheesebook_nav img{
    width: 3.25rem;
    cursor: pointer;
    margin-left: 1rem;
    cursor: url("/public/images/rato_select.png"), auto;
  }

  .cheesebook_nav p{
    font-family: "Pixelated Elegance", sans-serif;
    color: black;
    font-size: 1.25rem;
    margin-left: 20rem;
  }

  .cheesebook_main{
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .cheesebook_main .cheesebook_posts{
    height: 100%;
    overflow-y: scroll;
    grid-column: 1 / span 1;
  }

  .cheesebook_main .cheesebook_posts .posts{
    display: flex;
    flex-direction: column;
    width: 20rem;
    outline: 1px solid black;
    border-radius: .5rem;
    padding: 1rem .5rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .cheesebook_main .cheesebook_posts .posts img{
    width: 100%;
    height: auto;
    border-radius: .75rem;
    margin-bottom: .25rem;
  }

  .cheesebook_main .cheesebook_posts .posts div
  {
    margin-bottom: -1rem;
  }

  .cheesebook_main .cheesebook_posts .posts div h1
  {
    font-family: "Pixelated Elegance", sans-serif;
  }

  .cheesebook_main .cheesebook_posts .posts div .cracker_like{
     width: 2.5rem;
     margin: none;
  }

  .cheesebook_main .cheesebook_posts .posts div .cracker_like:hover{
    cursor: url("/public/images/rato_select.png"), auto;
  }

  .cheesebook_main .cheesebook_posts .posts div p
  {
    font-family: "Dogica Pixel", sans-serif;
  }

  .cheesebook_main .cheesebook_posts .posts div h1{
    font-size: 1rem;
  }

  .cheesebook_main .cheesebook_posts .posts div p:nth-child(2){
    font-size: .75rem;
    margin-bottom: .5rem;
  }


  .cheesebook_main .cheesebook_posts .posts div p:nth-child(4){
    font-size: .75rem;
    margin-top: .5rem;
  }

  .cheesebook_main .cheesebook_friends{
    height: 100%;
    overflow-y: scroll;
    grid-column: 2 / span 1;
  }

  .cheesebook_main .cheesebook_friends .friends{
    width: 6rem;
    height: 70%;
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    }

    .cheesebook_main .cheesebook_friends .friends img{
      object-fit: cover;
      width: 100%;
      border-radius: 100%;
    }

    .cheesebook_main .cheesebook_friends .friends p{
      margin-top: .5rem;
      font-family: "Pixelated Elegance", sans-serif;
    }


    /* NORBOT */

    .mainwindow_norbot{
      display: none;
      width: 350px;
      height: 200px;
      position: absolute;
      z-index: 3;
      background-color: darkred;
      transform: translate(40%, 40%);
    }

    .mainwindow_norbot{
      display: none;
      width: 350px;
      height: 200px;
      position: absolute;
      z-index: 5;
      background-color: darkgreen;
      transform: translate(40%, 40%);
      flex-direction: column;
      align-items: center;
    }

    .mainwindow_norbot .norbot_leaveicon{
      width: 2.5rem;
      position: relative;
      filter: invert(1);
    }

    .mainwindow_norbot .norbot_leaveicon:hover{
      cursor: url("/public/images/rato_select.png"), auto;
    }

    .mainwindow_norbot h1{
      font-size: 1rem;
      color: white;
      margin-top: 1rem;
      font-family: "Groutpix Slab", sans-serif;
    }

    .mainwindow_norbot .norbot_char{
      width: 7rem;
      height: auto;
    }

    /* Wererabbit minigame */

    #wererabbit_minigame{
      padding: 1rem;
      position: relative;
      left: 32.5%
    }

  /* Moon Rocket Easter Egg */

#rocket_easter_egg:hover{
  cursor: url("/public/images/rato_select.png"), auto;
}

/* Feathers Easter Egg */
#friend_feathers{
  cursor: url("/public/images/rato_select.png"), auto;
}


.cheesebook_main .feathers_messages .feathers_nav{
  width: 100%;
  height: 4rem;
  background-color: #e3ab12;
  display: flex;
  align-items: center;
}

.cheesebook_main .feathers_messages .feathers_nav{
  width: 100%;
  height: 2rem;
  background-color: #e3ab12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cheesebook_main .feathers_messages .feathers_nav img{
  width: 2rem;
}

.cheesebook_main .feathers_messages .feathers_nav p{
  font-family: "Pixelated Elegance", sans-serif;
  color: black;
  font-size: .75rem;
}

.feathers_leave{
  cursor: url("/public/images/rato_select.png"), auto;
}

.cheesebook_main .feathers_messages{
  width: 12rem;
  height: 200px;
  display: none;
  background-color: white;
  z-index: 4;
  position: absolute;
  transform: translate(16rem, 0.5rem);
}


.feathers_message{
  background-color: lightgrey;
  border: 1px solid #e3ab12;
  height: 5rem;
  border-radius: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  padding-left: 1rem;
  padding-right: .75rem;
  display: flex;
  align-items: center;

}

.feathers_message p{
  font-family: "Pixelated Elegance", sans-serif;
  font-size: .75rem;
  margin-bottom: .4rem;
}

.feathers_message p button{
  margin-top: .1rem;
  font-size: .75rem;
}
.feathers_message p button:hover{
  cursor: url("/public/images/rato_select.png"), auto;
}

/* CREDITS */

#credits{
  display: none;
  position: absolute;
  background-color: white;
  width: 35%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  line-height: 1.5rem;
  font-family: "Illusion Book", sans-serif;
}

#exit_note_credits{
  display: none;
  position: absolute;
  width: 4rem;
  top: 18%;
  left: 30%;
}

#exit_note_credits:hover{
  cursor: pointer;
}